<h1> New Actor </h1>
<%= form_for @actor, url: movie_actors_path(@movie) do |f| %>
 <%= f.label :first_name %>: 
 <%= f.text_field :first_name %>

 <%= f.label :last_name %> 
 <%= f.text_field :last_name %>

 <%= f.label :age %>
 <%= f.text_field :age %>

  <%= f.label :born %>
 <%= f.text_field :born %>

 <%= f.submit %>
 <% end %>