<div class= 'movie'>
<h1> Movies </h1>
<p><%= link_to 'Add Movie', new_movie_path %></p>
<% @movies.each do |movie| %>
<h2><%= movie.title %></h2>
 <%= link_to 'Show Movie', movie_path(movie) %>
 <%= link_to 'Edit Movie', edit_movie_path(movie) %>
 <%= link_to 'Delete Movie', movie, method: :delete %>
<% end %>  
</div>

